:root {
  --main-color: #212121;
  --support-color: #757575;
  --higlight-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --footer-link-color: #ffffff 60%;
  --background-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --team-color: #f5f4fa;
  --header-line: #ececec;
  --projects-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serfif;
  color: var(--main-color);
}

/* Nagłówek makiety */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-line {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--header-line);
  padding: 24.54px 0 23.53px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-box-menu {
  display: flex;
  align-items: center;
}

.header-logo,
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.logo-web {
  color: var(--higlight-color);
}

.header-address,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--support-color);
}

.header-address:hover,
.header-phone:hover,
.header-address:focus,
.header-phone:focus {
  color: var(--higlight-color);
}

/* Menu makiety */

.nav-list {
  list-style: none;
  display: flex;
  margin-left: 93px;
  gap: 46px;
}

.nav-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--higlight-color);
}

.header-address {
  margin-right: 50px;
}
/* Header makiety */

.section {
  padding: 94px 0;
  margin: 0 auto;
}

.hero {
  background-color: var(--background-color);
  padding: 200px 0;
  height: 600px;
  background-image: url('/images/hero-overlay.jpg'), url('/images/hero_underlay.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  max-width: 696px;
  margin: 0 auto;
}

.hero-button {
  background: var(--higlight-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;

  border-style: none;
  padding: 10px 41px;
  margin: 0 auto;
}

/* Nasze atuty, Czym się zajmujemy i Nasz zespół  */

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  gap: 30px;
}

/* Nasze atuty */

.trumps {
  padding-bottom: 0;
}

.trumps-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);

  margin-bottom: 10px;
}

.trumps-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--support-color);
}

/* Czym się zajmujemy  i nagłówek z Nasz zespół */

.works-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}

/* Nasz zespół */

.team {
  background: var(--team-color);
}

.team-card {
  background: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card img {
  border-radius: 0px;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin: 30px 99px 10px;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--support-color);

  padding-bottom: 30px;
}

/* Portfolio filters */

.filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--team-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;

  padding: 6px 22px;
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--higlight-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Portfolio projects */

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 20px;
}

.project-card {
  background: var(--white-color);
  border: 1px solid var(--projects-color);
}

.project-card:hover,
.project-card:focus { 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-title {
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin: 20px 24px 4px;
}

.project-card-text {
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--support-color);

  margin: 0 24px 20px;
}

/* Footer */

.footer-color {
  background-color: var(--background-color);
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--white-color);

  padding-top: 60px;
}

.footer-address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--white-color);

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;
  gap: 9px;
}

.footer-address-link,
.footer-phone-link,
.footer-address-link-u {
  color: var(--footer-link-color);
  text-decoration: none;
}

.footer-address-link-u {
  text-decoration: underline;
}

.footer-address-link:hover,
.footer-phone-link:hover,
.footer-address-link:focus,
.footer-phone-link:focus,
.footer-address-link-u:hover,
.footer-address-link-u:focus {
  color: var(--higlight-color);
}
